/* ===========================================================
   REGISTRO.CSS
=========================================================== */

.ayuda-archivo {
  font-size: 12px;
  color: #666;
  display: block;
  margin-top: 5px;
}